In [1]:
import pandas as pd
import numpy as np

In [2]:
data_def = pd.read_csv('data_def_20220207.csv')
display(data_def.head())
population_vert = pd.read_csv('population_vert_20220207.csv')
display(population_vert.head())

,Unnamed: 0,CountryCode,subset,question_code,question_label,answer,percentage,country_subset,pop_subset,response
0,0,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,8,Austria Lesbian,437,35
1,1,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,34,Austria Lesbian,437,149
2,2,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,45,Austria Lesbian,437,197
3,3,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very rare,9,Austria Lesbian,437,39
4,4,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,4,Austria Lesbian,437,17

   Unnamed: 0 CountryCode variable  value country_subset
0           0    EU_Total        N  93079     EU_Total N
1           1     Austria        N   2543      Austria N
2           2     Belgium        N   2901      Belgium N
3           3    Bulgaria        N   1033     Bulgaria N
4           4      Cyprus        N    265       Cyprus N

# Starting EDA with high level statsÂ¶

In [3]:
country_counts = population_vert.groupby(['CountryCode']).agg({'value':sum})
country_level = pd.DataFrame(country_counts.reset_index())
country_level = country_level.sort_values(by=['value'],ascending=False)
country_level

       CountryCode   value
7         EU_Total  186158
11         Germany   40542
15           Italy   26510
10          France   16750
28  United_Kingdom   13518
26           Spain   12776
9          Finland    6878
20     Netherlands    6350
1          Belgium    5802
21          Poland    5580
12          Greece    5520
0          Austria    5086
5   Czech_Republic    4938
27          Sweden    4928
13         Hungary    4534
22        Portugal    4250
6          Denmark    3420
14         Ireland    3250
23         Romania    2520
3          Croatia    2394
2         Bulgaria    2066
24        Slovakia    2000
17       Lithuania    1642
25        Slovenia    1272
16          Latvia    1002
8          Estonia     748
19           Malta     716
18      Luxembourg     636
4           Cyprus     530

In [4]:
genpop = pd.read_excel('QES_genpop.xlsx')
genpop = genpop.sort_values(by=['Population_2012'], ascending=False)
genpop

       CountryCode  Population_2012
5          Germany         80425823
11          France         65659814
27  United_Kingdom         63700215
15           Italy         59539717
9            Spain         46773055
21          Poland         38063164
23         Romania         20058035
20     Netherlands         16754962
1          Belgium         11106932
8           Greece         11045011
22        Portugal         10514844
4   Czech_Republic         10510785
12         Hungary          9920362
24          Sweden          9519374
0          Austria          8429991
2         Bulgaria          7305888
6          Denmark          5591572
10         Finland          5413971
25        Slovakia          5407579
14         Ireland          4599533
13         Croatia          4267558
16       Lithuania          2987773
26        Slovenia          2057159
18          Latvia          2034319
7          Estonia          1322696
3           Cyprus          1135046
17      Luxembourg           530946
19           Malta           420028

In [5]:
genpop['sample'] = genpop['CountryCode'].map(country_level.set_index('CountryCode')['value'])
genpop['respondents_country']= genpop['sample']/genpop['Population_2012']*100
genpop = genpop.sort_values(by=['respondents_country'], ascending=False)
genpop.to_csv('genpop.csv')
genpop

       CountryCode  Population_2012  sample  respondents_country
19           Malta           420028     716             0.170465
10         Finland          5413971    6878             0.127042
17      Luxembourg           530946     636             0.119786
14         Ireland          4599533    3250             0.070659
26        Slovenia          2057159    1272             0.061833
6          Denmark          5591572    3420             0.061163
0          Austria          8429991    5086             0.060332
7          Estonia          1322696     748             0.056551
13         Croatia          4267558    2394             0.056098
16       Lithuania          2987773    1642             0.054957
1          Belgium         11106932    5802             0.052238
24          Sweden          9519374    4928             0.051768
5          Germany         80425823   40542             0.050409
8           Greece         11045011    5520             0.049977
18          Latvia          2034319    1002             0.049255
4   Czech_Republic         10510785    4938             0.046980
3           Cyprus          1135046     530             0.046694
12         Hungary          9920362    4534             0.045704
15           Italy         59539717   26510             0.044525
22        Portugal         10514844    4250             0.040419
20     Netherlands         16754962    6350             0.037899
25        Slovakia          5407579    2000             0.036985
2         Bulgaria          7305888    2066             0.028279
9            Spain         46773055   12776             0.027315
11          France         65659814   16750             0.025510
27  United_Kingdom         63700215   13518             0.021221
21          Poland         38063164    5580             0.014660
23         Romania         20058035    2520             0.012564

In [6]:
#create visualization in tableau for background (map?)

In [7]:
subset_counts = population_vert.groupby(['variable']).agg({'value':sum})
subset_counts = pd.DataFrame(subset_counts.reset_index())
subset_counts = subset_counts.sort_values(by=['value'],ascending=False)
subset_counts.to_csv('subset_counts.csv')
subset_counts

         variable   value
4               N  186158
2             Gay  114896
3         Lesbian   30472
0    Bisexual men   14400
5     Transgender   13542
1  Bisexual women   12848

In [8]:
#create visualization in tableau for background (explain assumptions about bias)

# Get overview of all questions

In [9]:
question_list = data_def[['question_code','question_label']]
quest_list_deduped = question_list.drop_duplicates(subset='question_code', keep='first', inplace=False)
quest_list_deduped

      question_code                                     question_label
0              b1_a  In your opinion, how widespread is offensive l...
675            b1_b  In your opinion, how widespread are casual jok...
1350           b1_c  In your opinion, how widespread are expression...
2025           b1_d  In your opinion, how widespread are assaults a...
2700           b1_e  In your opinion, how widespread is same-sex pa...
...             ...                                                ...
81741         fb2_5  Do you think the MOST SERIOUS incident of hara...
82113         fb2_6  MOST SERIOUS incident of harassment - Was the ...
82485         fb2_7  MOST SERIOUS incident of harassment - who was ...
84024         fb2_8  MOST SERIOUS incident of harassment - What was...
84520         fb2_9  MOST SERIOUS incident of harassment - Do you t...

[141 rows x 2 columns]

In [10]:
quest_list_deduped.to_excel('quest_list.xlsx')

In [11]:
#Getting some overview tables from MySQL

In [12]:
import pymysql
from sqlalchemy import create_engine
import getpass

In [13]:
password = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [14]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/QES_project'
engine = create_engine(connection_string)

In [15]:
query = '''SELECT question_code, question_label,answer,SUM(response)
FROM res_all
GROUP BY question_code,question_label, answer;'''

all_answers = pd.read_sql_query(query, engine)
all_answers.head()

,question_code,question_label,answer,SUM(response)
0,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,13792.0
1,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,23653.0
2,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,34742.0
3,b1_a,"In your opinion, how widespread is offensive l...",Very rare,18195.0
4,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,2943.0

In [16]:
all_answers['percent_all'] = round(all_answers['SUM(response)']/93079*100,2)
all_answers.head()

,question_code,question_label,answer,SUM(response),percent_all
0,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,13792.0,14.82
1,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,23653.0,25.41
2,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,34742.0,37.33
3,b1_a,"In your opinion, how widespread is offensive l...",Very rare,18195.0,19.55
4,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,2943.0,3.16

In [17]:
all_answers.to_excel('all_answers.xlsx')

# Looking in more detail, selecting questions to treat and what data is needed for each.

In [18]:
b1_ab = all_answers[all_answers['question_code'].isin(['b1_a','b1_b'])]
b1_ab = b1_ab.groupby(['answer']).agg({"SUM(response)":sum})
b1_ab = pd.DataFrame(b1_ab)
b1_ab['percent'] = round(b1_ab['SUM(response)']/186158*100,2)
b1_ab = b1_ab.sort_values(by=['percent'],ascending=False)
b1_ab.to_csv('b1_ab.csv')
b1_ab

                   SUM(response)  percent
answer
Fairly widespread        65552.0    35.21
Fairly rare              49575.0    26.63
Very widespread          46368.0    24.91
Very rare                20590.0    11.06
Don`t know                3997.0     2.15

In [23]:
b1_cd = all_answers[all_answers['question_code'].isin(['b1_c','b1_d'])]
b1_cd = b1_cd.groupby(['answer']).agg({"SUM(response)":sum})
b1_cd = pd.DataFrame(b1_cd)
b1_cd['percent'] = round(b1_cd['SUM(response)']/186158*100,2)
b1_cd = b1_cd.sort_values(by=['percent'],ascending=False)
b1_cd.to_csv('b1_cd.csv')
b1_cd

                   SUM(response)  percent
answer
Fairly rare              79352.0    42.63
Fairly widespread        60700.0    32.61
Very rare                20404.0    10.96
Very widespread          18919.0    10.16
Don`t know                6722.0     3.61

In [28]:
g4 = all_answers[all_answers['question_code'].isin(['g4_a','g4_b'])]
g4 = g4.groupby(['answer']).agg({"SUM(response)":sum})
g4 = pd.DataFrame(g4)
g4['percent'] = round(g4['SUM(response)']/186158*100,2)
g4 = g4.sort_values(by=['percent'],ascending=False)
g4.to_csv('b1_cd.csv')
g4

                                           SUM(response)  percent
answer
Never happened in the last sixth months         128944.0    69.27
Happened only once in the last six months        22967.0    12.34
2-5 times in the last six months                 15144.0     8.14
Don`t know                                       13924.0     7.48
6 times or more in the last six months            5127.0     2.75

In [22]:
b1_ef = all_answers[all_answers['question_code'].isin(['b1_e','b1_f'])]
b1_ef = pd.DataFrame(b1_ef)
b1_ef.to_csv('b1_ef.csv')
b1_ef

,question_code,question_label,answer,SUM(response),percent_all
20,b1_e,"In your opinion, how widespread is same-sex pa...",Very widespread,2706.0,2.91
21,b1_e,"In your opinion, how widespread is same-sex pa...",Fairly widespread,13658.0,14.67
22,b1_e,"In your opinion, how widespread is same-sex pa...",Fairly rare,40834.0,43.87
23,b1_e,"In your opinion, how widespread is same-sex pa...",Very rare,34799.0,37.39
24,b1_e,"In your opinion, how widespread is same-sex pa...",Don`t know,1018.0,1.09
25,b1_f,"In your opinion, how widespread is heterosexua...",Very widespread,68003.0,73.06
26,b1_f,"In your opinion, how widespread is heterosexua...",Fairly widespread,18226.0,19.58
27,b1_f,"In your opinion, how widespread is heterosexua...",Fairly rare,3378.0,3.63
28,b1_f,"In your opinion, how widespread is heterosexua...",Very rare,2685.0,2.88
29,b1_f,"In your opinion, how widespread is heterosexua...",Don`t know,677.0,0.73

In [24]:
b2 = all_answers[all_answers['question_code'].isin(['b2_a','b2_b','b2_c','b2_c','b2_d','b2_e','b2_f','b2_g','b2_h'])]
b2 = pd.DataFrame(b2)
b2.to_csv('b2.csv')
b2

,question_code,question_label,answer,SUM(response),percent_all
45,b2_a,What would allow you to be more comfortable li...,Strongly agree,35457.0,38.09
46,b2_a,What would allow you to be more comfortable li...,Agree,27994.0,30.08
47,b2_a,What would allow you to be more comfortable li...,Disagree,3534.0,3.80
48,b2_a,What would allow you to be more comfortable li...,Strongly disagree,1433.0,1.54
49,b2_a,What would allow you to be more comfortable li...,Current situation is fine,13916.0,14.95
50,b2_a,What would allow you to be more comfortable li...,Don`t know,3918.0,4.21
51,b2_b,What would allow you to be more comfortable li...,Strongly agree,60512.0,65.01
52,b2_b,What would allow you to be more comfortable li...,Agree,17414.0,18.71
53,b2_b,What would allow you to be more comfortable li...,Disagree,2106.0,2.26
54,b2_b,What would allow you to be more comfortable li...,Strongly disagree,1458.0,1.57
55,b2_b,What would allow you to be more comfortable li...,Current situation is fine,2494.0,2.68
56,b2_b,What would allow you to be more comfortable li...,Don`t know,2360.0,2.54
57,b2_c,What would allow you to be more comfortable li...,Strongly agree,51128.0,54.93
58,b2_c,What would allow you to be more comfortable li...,Agree,24476.0,26.30
59,b2_c,What would allow you to be more comfortable li...,Disagree,2539.0,2.73
60,b2_c,What would allow you to be more comfortable li...,Strongly disagree,940.0,1.01
61,b2_c,What would allow you to be more comfortable li...,Current situation is fine,5336.0,5.73
62,b2_c,What would allow you to be more comfortable li...,Don`t know,1793.0,1.93
63,b2_d,What would allow you to be more comfortable li...,Strongly agree,50346.0,54.09
64,b2_d,What would allow you to be more comfortable li...,Agree,23725.0,25.49
65,b2_d,What would allow you to be more comfortable li...,Disagree,3400.0,3.65
66,b2_d,What would allow you to be more comfortable li...,Strongly disagree,1267.0,1.36
67,b2_d,What would allow you to be more comfortable li...,Current situation is fine,4940.0,5.31
68,b2_d,What would allow you to be more comfortable li...,Don`t know,2445.0,2.63
69,b2_e,What would allow you to be more comfortable li...,Strongly agree,51391.0,55.21
70,b2_e,What would allow you to be more comfortable li...,Agree,23518.0,25.27
71,b2_e,What would allow you to be more comfortable li...,Disagree,3031.0,3.26
72,b2_e,What would allow you to be more comfortable li...,Strongly disagree,1375.0,1.48
73,b2_e,What would allow you to be more comfortable li...,Current situation is fine,3952.0,4.25
74,b2_e,What would allow you to be more comfortable li...,Don`t know,3202.0,3.44
75,b2_f,What would allow you to be more comfortable li...,Strongly agree,60503.0,65.00
76,b2_f,What would allow you to be more comfortable li...,Agree,14990.0,16.10
77,b2_f,What would allow you to be more comfortable li...,Disagree,2848.0,3.06
78,b2_f,What would allow you to be more comfortable li...,Strongly disagree,2869.0,3.08
79,b2_f,What would allow you to be more comfortable li...,Current situation is fine,1192.0,1.28
80,b2_f,What would allow you to be more comfortable li...,Don`t know,4071.0,4.37
81,b2_g,What would allow you to be more comfortable li...,Strongly agree,51306.0,55.12
82,b2_g,What would allow you to be more comfortable li...,Agree,14029.0,15.07
83,b2_g,What would allow you to be more comfortable li...,Disagree,1464.0,1.57
84,b2_g,What would allow you to be more comfortable li...,Strongly disagree,1342.0,1.44
85,b2_g,What would allow you to be more comfortable li...,Current situation is fine,16667.0,17.91
86,b2_g,What would allow you to be more comfortable li...,Don`t know,1407.0,1.51
87,b2_h,What would allow you to be more comfortable li...,Strongly agree,48839.0,52.47
88,b2_h,What would allow you to be more comfortable li...,Agree,18083.0,19.43
89,b2_h,What would allow you to be more comfortable li...,Disagree,4590.0,4.93
90,b2_h,What would allow you to be more comfortable li...,Strongly disagree,3147.0,3.38
91,b2_h,What would allow you to be more comfortable li...,Current situation is fine,6460.0,6.94
92,b2_h,What would allow you to be more comfortable li...,Don`t know,5063.0,5.44

In [25]:
c2 = all_answers[all_answers['question_code'].isin(['c2_c','c2a_a','c2a_b','c2a_c','c2a_d'])]
c2 = pd.DataFrame(c2)
c2.to_csv('c2.csv')
c2

,question_code,question_label,answer,SUM(response),percent_all
258,c2a_a,"In the last 12 months, in the country where yo...",Yes,2169.0,2.33
259,c2a_a,"In the last 12 months, in the country where yo...",No,4081.0,4.38
260,c2a_a,"In the last 12 months, in the country where yo...",Don`t know,419.0,0.45
261,c2a_b,"In the last 12 months, in the country where yo...",Yes,2584.0,2.78
262,c2a_b,"In the last 12 months, in the country where yo...",No,3658.0,3.93
263,c2a_b,"In the last 12 months, in the country where yo...",Don`t know,384.0,0.41
264,c2a_c,"In the last 12 months, in the country where yo...",Yes,1361.0,1.46
265,c2a_c,"In the last 12 months, in the country where yo...",No,4699.0,5.05
266,c2a_c,"In the last 12 months, in the country where yo...",Don`t know,582.0,0.63
267,c2a_d,"In the last 12 months, in the country where yo...",Yes,3225.0,3.46
268,c2a_d,"In the last 12 months, in the country where yo...",No,2951.0,3.17
269,c2a_d,"In the last 12 months, in the country where yo...",Don`t know,511.0,0.55
273,c2_c,"In the last 12 months, in the country where yo...",Yes,42095.0,45.23
274,c2_c,"In the last 12 months, in the country where yo...",No,48752.0,52.38
275,c2_c,"In the last 12 months, in the country where yo...",Don`t know,2193.0,2.36

In [27]:
c4 = all_answers[all_answers['question_code'].isin(['c4_a','c4_b','c4_c','c4_d','c4_e','c4_f','c42_g','c4_h','c4_i','c4_j','c4_k'])]
c4 = pd.DataFrame(c4)
c4.to_csv('c4.csv')
c4

,question_code,question_label,answer,SUM(response),percent_all
276,c4_a,"During the last 12 months, have you personally...",Yes,11474.0,12.33
277,c4_a,"During the last 12 months, have you personally...",No,75575.0,81.19
278,c4_a,"During the last 12 months, have you personally...",Don`t know,5510.0,5.92
279,c4_b,"During the last 12 months, have you personally...",Yes,17296.0,18.58
280,c4_b,"During the last 12 months, have you personally...",No,71266.0,76.57
281,c4_b,"During the last 12 months, have you personally...",Don`t know,4464.0,4.80
282,c4_c,"During the last 12 months, have you personally...",Yes,11239.0,12.07
283,c4_c,"During the last 12 months, have you personally...",No,77139.0,82.87
284,c4_c,"During the last 12 months, have you personally...",Don`t know,4126.0,4.43
285,c4_d,"During the last 12 months, have you personally...",Yes,9022.0,9.69
286,c4_d,"During the last 12 months, have you personally...",No,80822.0,86.83
287,c4_d,"During the last 12 months, have you personally...",Don`t know,3195.0,3.43
288,c4_e,"During the last 12 months, have you personally...",Yes,7075.0,7.60
289,c4_e,"During the last 12 months, have you personally...",No,81298.0,87.34
290,c4_e,"During the last 12 months, have you personally...",Don`t know,3990.0,4.29
291,c4_f,"During the last 12 months, have you personally...",Yes,15278.0,16.41
292,c4_f,"During the last 12 months, have you personally...",No,73688.0,79.17
293,c4_f,"During the last 12 months, have you personally...",Don`t know,3605.0,3.87
297,c4_h,"During the last 12 months, have you personally...",Yes,7270.0,7.81
298,c4_h,"During the last 12 months, have you personally...",No,82697.0,88.85
299,c4_h,"During the last 12 months, have you personally...",Don`t know,2956.0,3.18
300,c4_i,"During the last 12 months, have you personally...",Yes,3497.0,3.76
301,c4_i,"During the last 12 months, have you personally...",No,86273.0,92.69
302,c4_i,"During the last 12 months, have you personally...",Don`t know,3016.0,3.24
303,c4_j,"During the last 12 months, have you personally...",Yes,9100.0,9.78
304,c4_j,"During the last 12 months, have you personally...",No,80304.0,86.28
305,c4_j,"During the last 12 months, have you personally...",Don`t know,3289.0,3.53
306,c4_k,"During the last 12 months, have you personally...",Yes,3664.0,3.94
307,c4_k,"During the last 12 months, have you personally...",No,86188.0,92.60
308,c4_k,"During the last 12 months, have you personally...",Don`t know,2783.0,2.99

In [31]:
query = '''SELECT CountryCode, question_code, question_label,answer,SUM(response)
FROM res_all
GROUP BY question_code,question_label, answer,CountryCode;'''

g2_input = pd.read_sql_query(query, engine)
g2_input.head()

,CountryCode,question_code,question_label,answer,SUM(response)
0,Austria,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,131.0
1,Austria,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,609.0
2,Austria,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,1273.0
3,Austria,b1_a,"In your opinion, how widespread is offensive l...",Very rare,431.0
4,Austria,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,119.0
5,Belgium,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,34.0
6,Belgium,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,240.0
7,Belgium,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,1217.0
8,Belgium,b1_a,"In your opinion, how widespread is offensive l...",Very rare,1274.0
9,Belgium,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,133.0
10,Bulgaria,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,438.0
11,Bulgaria,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,346.0
12,Bulgaria,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,177.0
13,Bulgaria,b1_a,"In your opinion, how widespread is offensive l...",Very rare,38.0
14,Bulgaria,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,36.0
15,Cyprus,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,71.0
16,Cyprus,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,68.0
17,Cyprus,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,63.0
18,Cyprus,b1_a,"In your opinion, how widespread is offensive l...",Very rare,15.0
19,Cyprus,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,11.0
20,Czech_Republic,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,86.0
21,Czech_Republic,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,576.0
22,Czech_Republic,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,1170.0
23,Czech_Republic,b1_a,"In your opinion, how widespread is offensive l...",Very rare,554.0
24,Czech_Republic,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,82.0
25,Germany,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,299.0
26,Germany,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,1719.0
27,Germany,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,10154.0
28,Germany,b1_a,"In your opinion, how widespread is offensive l...",Very rare,7399.0
29,Germany,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,771.0
30,Denmark,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,22.0
31,Denmark,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,143.0
32,Denmark,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,760.0
33,Denmark,b1_a,"In your opinion, how widespread is offensive l...",Very rare,745.0
34,Denmark,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,34.0
35,Estonia,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,37.0
36,Estonia,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,130.0
37,Estonia,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,143.0
38,Estonia,b1_a,"In your opinion, how widespread is offensive l...",Very rare,47.0
39,Estonia,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,16.0
40,Greece,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,760.0
41,Greece,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,1124.0
42,Greece,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,580.0
43,Greece,b1_a,"In your opinion, how widespread is offensive l...",Very rare,209.0
44,Greece,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,110.0
45,Spain,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,564.0
46,Spain,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,1961.0
47,Spain,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,2852.0
48,Spain,b1_a,"In your opinion, how widespread is offensive l...",Very rare,905.0
49,Spain,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,141.0
50,Finland,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,162.0
51,Finland,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,1103.0
52,Finland,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,1826.0
53,Finland,b1_a,"In your opinion, how widespread is offensive l...",Very rare,260.0
54,Finland,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,90.0
55,France,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,501.0
56,France,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,2549.0
57,France,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,4097.0
58,France,b1_a,"In your opinion, how widespread is offensive l...",Very rare,1101.0
59,France,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,201.0

In [34]:
g2 = g2_input[g2_input['question_code'].isin(['g2_a','g2_b','g2_c','g2_d'])]
g2 = g2.groupby(['answer','CountryCode']).agg({"SUM(response)":sum})
g2 = pd.DataFrame(g2)
g2.to_csv('g2.csv')
g2

                       SUM(response)
answer CountryCode
A few  Austria                2398.0
       Belgium                2110.0
       Bulgaria               1240.0
       Croatia                1428.0
       Cyprus                  272.0
...                              ...
None   Slovakia               1114.0
       Slovenia                578.0
       Spain                  4535.0
       Sweden                 2098.0
       United_Kingdom         4390.0

[140 rows x 1 columns]

In [38]:
g2_pivot = g2.pivot_table(index= ['CountryCode'],columns=['answer'])
g2_pivot.to_csv('g2_pivot.csv')
g2_pivot

               SUM(response)
answer                 A few      All Don`t know     Most     None
CountryCode
Austria               2398.0   3125.0      440.0   2370.0   1841.0
Belgium               2110.0   4716.0      434.0   2711.0   1603.0
Bulgaria              1240.0    481.0      334.0    713.0   1369.0
Croatia               1428.0    558.0      243.0    857.0   1707.0
Cyprus                 272.0     92.0       42.0    144.0    267.0
Czech_Republic        2668.0   2363.0      469.0   2414.0   1969.0
Denmark                967.0   3114.0      265.0   1545.0    940.0
Estonia                393.0    188.0       94.0    348.0    377.0
Finland               3053.0   3464.0     1022.0   3110.0   3160.0
France                7535.0  10766.0     1566.0   7471.0   6260.0
Germany              17624.0  28142.0     2868.0  18537.0  13940.0
Greece                3463.0   1288.0      544.0   1736.0   3993.0
Hungary               2818.0   1347.0      411.0   1645.0   2856.0
Ireland               1329.0   2372.0      253.0   1402.0   1136.0
Italy                13723.0  11030.0     2642.0  12935.0  12673.0
Latvia                 661.0    244.0      131.0    360.0    611.0
Lithuania             1065.0    302.0      197.0    534.0   1186.0
Luxembourg             279.0    406.0       48.0    271.0    208.0
Malta                  326.0    361.0       47.0    311.0    245.0
Netherlands           1686.0   6956.0      414.0   2416.0   1255.0
Poland                3563.0   1488.0      722.0   1983.0   3389.0
Portugal              2675.0   1259.0      348.0   1970.0   2232.0
Romania               1557.0    370.0      276.0    582.0   2240.0
Slovakia              1338.0    550.0      201.0    808.0   1114.0
Slovenia               720.0    484.0      114.0    531.0    578.0
Spain                 6455.0   7667.0     1149.0   5808.0   4535.0
Sweden                1838.0   3214.0      523.0   2187.0   2098.0
United_Kingdom        5480.0   9484.0     1122.0   6534.0   4390.0

In [39]:
e12 = all_answers[all_answers['question_code'].isin(['e1','e2'])]
e12 = pd.DataFrame(e12)
e12.to_csv('e12.csv')
e12

,question_code,question_label,answer,SUM(response),percent_all
394,e1,Do you avoid holding hands in public with a sa...,Yes,48409.0,52.01
395,e1,Do you avoid holding hands in public with a sa...,No,23880.0,25.66
396,e1,Do you avoid holding hands in public with a sa...,I do not have a same-sex partner,18911.0,20.32
397,e1,Do you avoid holding hands in public with a sa...,Don`t know,1623.0,1.74
398,e2,Do you avoid certain places or locations for f...,Yes,44908.0,48.25
399,e2,Do you avoid certain places or locations for f...,No,43482.0,46.72
400,e2,Do you avoid certain places or locations for f...,Don`t know,4557.0,4.90

In [40]:
f1_ab = all_answers[all_answers['question_code'].isin(['f1_a','f1_b'])]
f1_ab = pd.DataFrame(f1_ab)
f1_ab.to_csv('f1_ab.csv')
f1_ab

,question_code,question_label,answer,SUM(response),percent_all
411,f1_a,"In the last 5 years, have you been: physically...",Yes,22717.0,24.41
412,f1_a,"In the last 5 years, have you been: physically...",No,70273.0,75.50
413,f1_b,"In the last 5 years, have you been: personally...",Yes,42762.0,45.94
414,f1_b,"In the last 5 years, have you been: personally...",No,50231.0,53.97

In [41]:
f1_ab_country = g2_input[g2_input['question_code'].isin(['f1_a','f1_b'])]
f1_ab_country = f1_ab_country.groupby(['answer','CountryCode']).agg({"SUM(response)":sum})
f1_ab_country = pd.DataFrame(f1_ab_country)
f1_ab_country.to_csv('f1_ab_country.csv')
f1_ab_country

                       SUM(response)
answer CountryCode
No     Austria                3217.0
       Belgium                3748.0
       Bulgaria               1140.0
       Croatia                1254.0
       Cyprus                  281.0
       Czech_Republic         3157.0
       Denmark                2327.0
       Estonia                 438.0
       Finland                3991.0
       France                11528.0
       Germany               26645.0
       Greece                 3398.0
       Hungary                2798.0
       Ireland                1866.0
       Italy                 18942.0
       Latvia                  550.0
       Lithuania               842.0
       Luxembourg              435.0
       Malta                   425.0
       Netherlands            4413.0
       Poland                 3356.0
       Portugal               2695.0
       Romania                1403.0
       Slovakia               1149.0
       Slovenia                793.0
       Spain                  9036.0
       Sweden                 2990.0
       United_Kingdom         7687.0
Yes    Austria                1869.0
       Belgium                2054.0
       Bulgaria                926.0
       Croatia                1140.0
       Cyprus                  179.0
       Czech_Republic         1781.0
       Denmark                1093.0
       Estonia                 310.0
       Finland                2887.0
       France                 5222.0
       Germany               13897.0
       Greece                 2122.0
       Hungary                1736.0
       Ireland                1384.0
       Italy                  7568.0
       Latvia                  452.0
       Lithuania               800.0
       Luxembourg              169.0
       Malta                   219.0
       Netherlands            1937.0
       Poland                 2224.0
       Portugal               1555.0
       Romania                1117.0
       Slovakia                851.0
       Slovenia                479.0
       Spain                  3740.0
       Sweden                 1938.0
       United_Kingdom         5830.0